
  <div id="activityView" class="wrapper">

        <div class="day-table group">
           <h1 class="heading"> Meeting Agenda</h1>
            <h1 ng-init="getWeather()" class="weather">
               <p>Today: <span ng-bind="weatherToday"></span></p>
                <p>Tomorrow: <span ng-bind="weatherTomorrow"></span></p>
                <button class="btn btn-primary btn-xs" ng-click="getWeather()">Get Weather - Powered by Forecast</button>
            </h1 >

            <div class="block parked fl">
                <h2 class="title">Parked</h2>
                <div class="content">
                    <p class="text">
                        <button data-ng-click='showAddActivity()' id="addActivityBtn" class="button3"> +Add Activity</button>

                    </p>
                </div>

                <div id="parkedActivities" style='display:block;' class="features thumbnail" data-drop="true" jqyoui-droppable="{multiple:true}">
                     <!-- Creates "activity blocks" based on the parkedActivities found in the model -->
                    <div data-ng-repeat="activity in parkedActivities track by $index">
                    <div class="activityContent ng-pristine ng-valid ng-binding ui-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{placeholder:true, animate: true, onStart: 'storeOld($index, null)'}" id="{{activity.getTypeId()}}" style="cursor: grab; z-index: 99;" id="{{$index}}">
                        <span ng-click="removeActivity($index)" class="fontawesome-remove" style="cursor: default"> </span>
                        {{ activity.getLength() }}  min |  {{ activity.getName() }}
                        <!-- Warning, the values down below in moveActivity should be changed depending on drag-action -->
                        <span ng-click="moveActivity(null, $index, 0, dayActivitiesLength)" class="fontawesome-info" style="cursor: default"> >> </span>
                    </div>

                 </div>

                </div>


            </div>

         <!-- Creates "day blocks" based on the days found in the model
         <div ng-include="'Test/dragulascript.html'">
          -->
        <div data-ng-repeat="day in days track by $index">

         <div class="block parked fl">
                <h2 class="title">Day {{$index +1 }}</h2>
                <div class="content">
                    <div class="text">
                <p ng-model="daySetStart" style="text-align:left;margin-left: 5px;">  Start time: {{ day.getStart() }}</p>
                <p style="text-align:left;margin-left: 5px;">End time: {{ day.getEnd() }}</p>
                <p style="text-align:left;margin-left: 5px;">Total length: {{ day.getTotalLength() }}</p>
            </div>

          <!--  <div class="btn btn-info btn-draggable ng-pristine ng-valid ng-binding ui-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: 0,placeholder:true,animate:true}" style="z-index: 100; left: 0px; top: 0px;">Item 1</div> -->

                </div>
                <div data-drop="true" jqyoui-droppable="{multiple:true}">
                <div id="activitiesOfTheDay" class="features thumbnail" data-drop="true" jqyoui-droppable="{multiple: true, onDrop: 'storeNewDay($index)'}" style="z-index: 99;">
                    <div data-ng-repeat="activity in dayActivities($index) track by $index">
                        <div class="activityContent" data-drag="true" id="{{activity.getTypeId()}}" style="cursor: grab" id="{{$index}}">
                            <span ng-click="removeActivity($index)" class="fontawesome-remove" style="cursor: default"> </span>
                            {{ activity.getLength() }}  min |  {{ activity.getName() }}
                        </div>
                    </div>
                </div>
                </div>
                <ul class="pt-footer">
                    <button data-ng-click="removeDay($index)" class="button2">Remove Day</button>

                </ul>

            </div>
            </div>

            <div class="block parked fl">
                <div class="content">
                    <p class="text">
                        <button data-ng-click="addDay()" id="addDayBtn" class="button3"> +Add Day</button>
                    </p>
                </div>

            </div>

             

        </div>
    </div>