
  <div id="activityView" class="wrapper">

        <div class="day-table group">
           <h1 class="heading"> Meeting Agenda</h1>
            <h1 class="weather">
               <p> weather in three days</p>
                <img src="img/weather1.png"/>
                <img src="img/weather2.png"/>
                <img src="img/weather1.png"/>
            </h1 >
             <!-- Creates "activity blocks" based on the parkedActivities found in the model -->
            <div class="block parked fl">
                <h2 class="title">Parked</h2>
                <div class="content">
                    <p class="text">
                        <button data-ng-click='showAddActivity()' id="addActivityBtn" class="button3"> +Add Activity</button>

                    </p>
                </div>
                <ul id="parkedActivities" style='display:block;' class="features">
                    <div data-ng-repeat="activity in activities track by $index">
                    <li class="activityContent" data-drag="true" id= "{{activity.getTypeId()}}" style="cursor: grab" id="{{$index}}"> {{ activity.getLength() }}  min |  {{ activity.getName() }}</li>
                    </div>

                </ul>

                <div class="pt-footer">
                    <button class="button2"> Delete Activity</button>
                </div>
            </div>

         <!-- Creates "day blocks" based on the days found in the model
         <div ng-include="'Test/dragulascript.html'">
          -->
        <div data-ng-repeat="day in days track by $index">

         <div class="block parked fl">
                <h2 class="title">Day {{$index +1 }}</h2>
                <div class="content">
                    <div class="text">
                <p style="text-align:left;margin-left: 5px;">  Start time: <input type="text" style="width:100px" name="startTime" id ="startTimeBox" placeholder="08:00" value=""></input></p>
                <p style="text-align:left;margin-left: 5px;">End time: </p>
                <p style="text-align:left;margin-left: 5px;">Total length: </p>
            </div>

                </div>
                <ul id="activitiesOfTheDay" class="features">
                   <!-- <li></li> -->
                </ul>

                <ul class="pt-footer">
                    <button data-ng-click="removeDay($index)" class="button2">Remove Day</button>

                </ul>

            </div>
            </div>

            <div class="block parked fl">
                <div class="content">
                    <p class="text">
                        <button data-ng-click="addDay()" id="addDayBtn" class="button3"> +Add Day</button>
                    </p>
                </div>

            </div>

             

        </div>
    </div>